ion-slide {
    display: block;
}
ion-slides {
    height: 100%;
    h1 {
        padding-top: 200px;
        padding-bottom: 50px;
    }
}

.first {
    background-color: var(--ion-color-danger); /* TODO: Farbe anpassen -> Danger */
}
.second {
    background-color: var(--ion-color-warning); /* TODO: Farbe anpassen -> Warning */
}
.third {
    background-color: var(--ion-color-surccess); /* TODO: Farbe anpassen -> Success */
}