<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div #scrollMe class="chat-nachrichten" (swipe)="swipeEvent($event)">
    <ion-list>
        <div *ngFor="let chat of chatList|async" class="messages" [class.other]="chat.username === this.currentUser">
            <div class="message">
                <span>
                  <h3 *ngIf="chat.username" >{{chat.username}} </h3>                                                    
                  <p *ngIf="chat.text">{{chat.text}}</p>
              </span>
            <div class="time" *ngIf="showDates">{{chat.date}}</div>
         </div>
      </div>
    </ion-list>
  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">
        <ion-input type="text" [(ngModel)]="message"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="sendMessage()" expand="block" fill="clear" shape="round">
          <ion-icon *ngIf="!showSpinnerIcon" name="send"></ion-icon>
          <ion-spinner *ngIf="showSpinnerIcon" name="bubbles"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
