<ion-header>
  <ion-toolbar>
    <ion-title>Newsletter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1>Jetzt für unseren neusten Newsletter anmelden</h1>
  </ion-text>
  <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()">
    <ion-item>
      <ion-label position="floating">Email </ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <div class="formErrors">
      <ion-item color="danger" *ngIf="isContactFormValid()">
        Sorry, that email is not correct!
      </ion-item>
    </div>
    <ion-button block color="primary" type="submit" [disabled]="isContactFormValid(true)">
      Send it!
    </ion-button>
  </form>
</ion-content>
