<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button href="/navigationdetail" expand="full">To Detail page (without function)</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="navToDetailPageByURL()" expand="full">To Detail page (without param)</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="navToDetailwithparam()" expand="full" fill="outline">To Detail page (with param)</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="navToDetailwithparamoverurl()" expand="full">To Detail page (with param url)</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
